body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  main {
    display: flex;
    flex-direction: column;
  }
  
  form {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  form label {
    display: block;
    margin-bottom: 8px;
  }
  
  form input,
  form select,
  form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  form button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #45a049;
  }
  
  #name-error {
    color: red;
  }
  
  #color-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .color-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  
  .color-block {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(25% - 20px); 
    box-sizing: border-box; 
  }
  
  
  .color-block p {
    margin: 0;
  }
  
  .color-block:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
  }
  
  @media only screen and (max-width: 600px) {
    form {
      width: 100%;
    }
  }
  